/*
 * Index route
 */
var config = require('../configs/server.js');
var configs = config.configs,
    server_prefix = configs.server_prefix || 'CORE';
console.log(server_prefix + " - Index route required.");
