<div id="footerSection">
    <div id="footerLinks">
        <ul>
            <li><a href="#">Note 1</a></li>
            <li><a href="#">Note 2</a></li>
            <li><a href="#">Note 3</a></li>
            <li><a href="#">Note 4</a></li>
            <li><a href="#">Note 5</a></li>
            <li><a href="#">Note 6</a></li>
            <li><a href="#">Note 7</a></li>
        </ul>
        <br class="clear" />
    </div>

    <div id="footerNotes">
        <p>&copy; 20XX Acme Inc.</p>
    </div>
</div>