<div id="headerSection">

    <div id="navLinks">

        <h3 id="headerTitle">&nbsp;</h3>

        <ul>
            <li><a href="#" target="_blank">Option 1</a></li>
            <li><a href="#" >Option 2</a></li>
            <li><a href="#">Option 3</a></li>
            <li><a href="#">Option 4</a></li>
        </ul>
    </div>

    <div id="navigation">
        <ul>
            <li>
                <a href="#" target="_blank">Menu 1</a>
            </li>
            <li>
                <a href="#" target="_blank">Menu 2</a>
            </li>
            <li>
                <a href="#" target="_blank">Menu 3</a>
            </li>
            <li>
                <a href="#" target="_blank">Menu 4</a>
            </li>
            <li>
                <a href="#" target="_blank">Menu 5</a>
            </li>
            <li>
                <a href="#" target="_blank">Menu 6</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>